@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    font-family: 'Ubuntu Mono', monospace;
    background-color: hsl(240, 100%, 7%);
}

img {
    border-radius: 1rem;
    width: clamp(120px, 50vw, 800px);
    max-height: 560px;
    margin: 0 auto;
    object-fit: cover;
}

.timer {
    position: absolute;
    top: 3rem;
    right: 3rem;
    display: inline-block;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    letter-spacing: 2px;
    color: #fff;
    padding: .5em 1em;
    border-radius: 1rem;
    background-color: hsl(240, 54%, 15%);
}

.timer__part {
    font-size: 2rem;
    font-weight: 700;
}

.timer__btn {
    width: 2rem;
    height: 2rem;
    border-radius: .5rem;
    border: none;
    color: white;
    background: hsl(273, 93%, 47%);
    cursor: pointer;
}

.timer__btn--start {
    background: hsl(145, 100%, 36%);
}

.timer__btn--stop {
    background: hsl(340, 100%, 50%);
}

.timer__btn--zero {
    background: hsl(50, 100%, 50%);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.slideshow-container {
    position: relative;
}

.mySlides {
    display: none;
}

.mySlides:first-child {
    display: inherit;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: auto;
    padding: 1em;
    color: #7c7c9c;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: .5rem;
    user-select: none;
}

.next {
    right: -3rem;
}

.prev {
    left: -3rem;
}

.prev:hover,
.next:hover {
    background-color: hsl(240, 54%, 15%);
}

.dots {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 .5em;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #7c7c9c;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.blink {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

@media screen and (min-width: 560px) {
    .next {
        right: -5rem;
    }

    .prev {
        left: -5rem;
    }
}